* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;

}



@media(max-width:320px){
    body{ 
        background-color: red;
    }
}
@media(min-width:321px) and (max-width:375px){
    body {
        background-color:blue;

    }
}
@media(min-width:376px) and (max-width:425px){
    body {
        background-color:green;
    }
}
@media(min-width:426px) and (max-width:768px){
    body {
        background-color:orange;
    }
}
@media(min-width:769px) and (max-width:1024px){
    body {
        background-color: pink;
    }
}
@media(min-width:1025px) and (max-width:1440px){
    body {
        background-color:purple;
    }
}
@media(min-width:1441px){
    body {
        background-color:deeppink;
    }
}

.hola {
    width: 100%;
    height: 100vh;
   
 

}

.kilO {
  
    display: flex;
    justify-content: center;
}

.play {
    width: 100%;
    height: 40rem;
    background-color: orange;
}

.puntaje {
    background-color: darkblue;
    height: 18rem;

  

}
.redes {
    background-color: darkcyan;
    height: 18rem;
  
   

}