* {
    box-sizing: border-box;
}



body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
 

}

.rito {
    position: relative;
    animation-name: pacman;
    animation-iteration-count: infinite;
    animation-duration: 30seg;
    width: 2rem;
    height: 2rem;
    top: 19.7rem;
    left: -41rem;
} 



 
 @media(max-width:320px){
    body{ 
        background-color: red;

       
    }
    .rito {
        position: relative;
        animation-name: pacman;
        animation-iteration-count: infinite;
        animation-duration: 30seg;
        width: 2rem;
        height: 2rem;
        top: 19.7rem;
        left: -41rem;
    }
}
@media(min-width:321px) and (max-width:375px){
    body {
        background-color:blue;
      

    }
    .rito {
        position: relative;
        animation-name: pacman;
        animation-iteration-count: infinite;
        animation-duration: 30seg;
        width: 2rem;
        height: 2rem;
        top: 19.7rem;
        left: -41rem;
    }
    
}
@media(min-width:376px) and (max-width:425px){
    body {
        background-color:green;
       
    }
    .rito {
        position: relative;
        animation-name: pacman;
        animation-iteration-count: infinite;
        animation-duration: 30seg;
        width: 2rem;
        height: 2rem;
        top: 19.7rem;
        left: -41rem;
    }
}
@media(min-width:426px) and (max-width:590px){
    body {
        background-color:orange;
       
    }
     #rito {
        width: 1.2rem;
        height: 1.2rem;
        animation-duration:10s;
        animation-name: corriendo;
        position: relative;
        animation-delay: 8ms;
        animation-iteration-count: infinite;
        top: 19.7rem;
        left: -22rem;
    }
 @keyframes corriendo { 
    from{
        top: 19.7rem;
        left: -22rem;
        opacity: 0;
    }
    5% {
        top: 19.7rem; left: -18.7rem; opacity: 1;
    }
    
    10% {
        top: 19.7rem; left: -18.7rem;
    }
    12% {
        top: 19.7rem; left: -18.7rem;
    }
    12% {
        top: 19.7rem; left: -18.7rem; rotate: 90deg;
    }
    15% {
        top: 23.5rem; left: -18.7rem; 
    }
     20% {
        top: 23.5rem; left: -18.7rem; rotate: 0deg;
    }
    25% {
        top: 23.5rem; left: -18.7rem; rotate: 0deg;
    }
    30%{
        top: 23.5rem; left: -14.7rem; rotate: 90deg;
    }
    35%{
        top: 25.5rem; left: -14.7rem; 
    }
    40%{
        top: 25.5rem; left: -14.7rem; 
    }
    42%{
        top: 25.5rem; left: -14.7rem; rotate: 0deg;
    }
    48%{
        top: 25.5rem; left: 6.5rem; rotate: 0deg;
    }
    52%{
        top: 25.5rem; left: 6.5rem; rotate: -90deg;
    }
    58%{
        top: 13.9rem; left: 6.5rem; rotate: -90deg;
    }
    62%{
        top: 13.9rem; left: 6.5rem; rotate: -180deg;
    }
    65%{
        top: 13.9rem; left: -17rem; rotate: -180deg;
    }
    69%{
        top: 13.9rem; left: -17rem; rotate: -270deg;

    } 
     72%{
        top: 19.7rem; left: -17rem; rotate: -270deg;

    }

    80%{
        top: 19.7rem; left: -17rem; rotate: -180deg;

    }
    90%{
        top: 19.7rem; left: -19rem; rotate: -180deg; opacity: 1;

    }
    to{  top: 19.7rem; left: -23rem; rotate: -180deg; opacity: 0;
        
    }
    
}
}
@media(min-width:426px) and (max-width:768px){}
@media(min-width:769px) and (max-width:1024px){
    body {
        background-color: pink;
      
    }
    #rito {
        width: 2rem;
        height: 2rem;
        animation-duration:5s;
        animation-name: corriendo;
        position: relative;
        animation-delay: 8ms;
        animation-iteration-count: infinite;
        top: 19.7rem;
        left: -34.5rem;
    }
  @keyframes corriendo { 
        from{
            top: 19.7rem;
            left: -34.5rem;
            opacity: 0;
        }
        2% {
            top: 19.7rem; left: -30rem; opacity: 1;
        }
        
        5% {
            top: 19.7rem; left: -22rem;
        }
        6% {
            top: 19.7rem; left: -22rem;rotate: -90deg
        }
        7% {
            top: 13rem; left: -22rem; 
        }
        20% {
            top: 13rem; left: -22rem; rotate:-180deg;
        }
        30% {
            top: 13rem; left: -25rem; rotate:-180deg;
        }
        40% {
            top: 13rem; left: -25rem; rotate:-270deg;
        }
        50% {
            top: 19.5rem; left: -25rem; rotate:-270deg;
        }
        60% {
            top: 19.5rem; left: -25rem; rotate:-180deg;
        }
        76% {
            top: 19.5rem; left: -25rem; rotate: -180deg; opacity: 1;
        }
        85% {
            top: 19.5rem; left: -27rem; rotate: -180deg; opacity: 1;
        }
        to {
            top: 19.5rem; left: -41rem; rotate: -180deg; opacity: 0;
        }
    }
}
@media(min-width:1221px) and (max-width:1440px){
    body {
        background-color:purple;
       
    }
     #rito {
        width: 2rem;
        height: 2rem;
        animation-duration:15s;
        animation-name: corriendo;
        position: relative;
        animation-delay: 8ms;
        animation-iteration-count: infinite;
        top: 19.7rem;
        left: -41rem;
    }
}
    @media(min-width:1025px) and (max-width:1200px){
        body {
            background-color:purple;
           
        }
         #rito {
            width: 2rem;
            height: 2rem;
            animation-duration:15s;
            animation-name: corriendo;
            position: relative;
            animation-delay: 8ms;
            animation-iteration-count: infinite;
            top: 19.7rem;
            left: -41rem;
        }
    @keyframes corriendo {
        from{
            top: 19.7rem;
            left: -41rem;
            opacity: 0;
        }
        2% {
            top: 19.7rem; left: -33rem; opacity: 1;
        }
        
        5% {
            top: 19.7rem; left: -33rem;
        }
        6% {
            top: 19.7rem; left: -33rem;rotate: 90deg
        }
        7% {
            top: 28rem; left: -33rem; 
        }
        10% {
            top: 28rem; left: -33rem; rotate: 0deg;
        }
        12%{
            top: 28rem; left: -25rem; rotate: 0deg;
        }
        13%{
            top: 28rem; left: -25rem; rotate: 90deg;
        }
        16%{
            top: 32rem; left: -25rem; rotate: 90deg;
        }
        18%{
            top: 32rem; left: -25rem; rotate: 0deg;
        }
        20%{
            top: 32rem; left: 19.5rem; rotate: 0deg;
        }
        22%{
            top: 32rem; left: 19.5rem; rotate: -90deg;
        }
        25%{
            top: 2.2rem; left: 19.5rem; rotate: -90deg;
        }
        28%{
            top: 2.2rem; left: 19.5rem; rotate: 0deg;
        }
        30%{
            top: 2.2rem; left: 26.5rem; rotate: 0deg;
        }
        32%{
            top: 2.2rem; left: 26.5rem; rotate: 90deg;

        } 
         34%{
            top: 12rem; left: 26.5rem; rotate: 90deg;

        }
        36%{
            top: 12rem; left: 26.5rem; rotate: 180deg;

        }
        38%{
            top: 12rem; left: 20rem; rotate: 180deg;

        }
        40%{top: 12rem; left: 20rem; rotate: 90deg;
            
        }
        42%{top: 20rem; left: 20rem; rotate: 90deg;
            
        }
        44%{top: 20rem; left: 20rem; rotate: 180deg;
            
        }
        46%{top: 20rem; left: 11.5rem; rotate: 180deg;
            
        }
        48%{top: 20rem; left: 11.5rem; rotate: 270deg;
            
        }
        50% {
            top: 12rem; left: 11.5rem; rotate: 270deg;
        }
        52% {
            top: 12rem; left: 11.5rem; rotate: 360deg;
        }
        54% {
            top: 12rem; left: 15.5rem; rotate: 360deg;
        }
        56% {
            top: 12rem; left: 15.5rem; rotate: 270deg;
        }
        58% {
            top: 7.5rem; left: 15.5rem; rotate: 270deg;
        }
        60% {
            top: 7.5rem; left: 15.5rem; rotate: 180deg;
        }
        62% {
            top: 7.5rem; left: -40rem; rotate: 180deg;
        }
        64% {
            top: 7.5rem; left: -40rem; rotate: 90deg;
        }
        66% {
            top: 11.5rem; left: -40rem; rotate: 90deg;
        }
        68% {
            top: 11.5rem; left: -40rem; rotate: 0deg;
        }
        

        70% {
            top: 11.5rem; left: -33rem; rotate: 0deg;
        }
        72% {
            top: 11.5rem; left: -33rem; rotate: 90deg;
        }
        74% {
            top: 19.7rem; left: -33rem; rotate: 90deg;
        }
        76% {
            top: 19.7rem; left: -33rem; rotate: 180deg;
        }
        76% {
            top: 19.7rem; left: -33rem; rotate: 180deg; opacity: 1;
        }
        80%{
            top: 19.7rem; left: -39rem; rotate: 180deg; opacity: 1;
        }
        
    
        to {
            top: 19.7rem; left: -41rem; rotate: 180deg; opacity: 0;
        }
    }
} 
 
@media(min-width:1441px){
    body {
        background-color:deeppink;
       
    }
    #rito {
        width: 2rem;
        height: 2rem;
        animation-duration:15s;
        animation-name: corriendo;
        position: relative;
        animation-delay: 8ms;
        animation-iteration-count: infinite;
        top: 19.7rem;
        left: -41rem;
    }
    @keyframes corriendo {
        from{
            top: 19.7rem;
            left: -41rem;
            opacity: 0;
        }
        2% {
            top: 19.7rem; left: -33rem; opacity: 1;
        }
        
        5% {
            top: 19.7rem; left: -33rem;
        }
        6% {
            top: 19.7rem; left: -33rem;rotate: 90deg
        }
        7% {
            top: 28rem; left: -33rem; 
        }
        10% {
            top: 28rem; left: -33rem; rotate: 0deg;
        }
        12%{
            top: 28rem; left: -25rem; rotate: 0deg;
        }
        13%{
            top: 28rem; left: -25rem; rotate: 90deg;
        }
        16%{
            top: 32rem; left: -25rem; rotate: 90deg;
        }
        18%{
            top: 32rem; left: -25rem; rotate: 0deg;
        }
        20%{
            top: 32rem; left: 19.5rem; rotate: 0deg;
        }
        22%{
            top: 32rem; left: 19.5rem; rotate: -90deg;
        }
        25%{
            top: 2.2rem; left: 19.5rem; rotate: -90deg;
        }
        28%{
            top: 2.2rem; left: 19.5rem; rotate: 0deg;
        }
        30%{
            top: 2.2rem; left: 26.5rem; rotate: 0deg;
        }
        32%{
            top: 2.2rem; left: 26.5rem; rotate: 90deg;

        } 
         34%{
            top: 12rem; left: 26.5rem; rotate: 90deg;

        }
        36%{
            top: 12rem; left: 26.5rem; rotate: 180deg;

        }
        38%{
            top: 12rem; left: 20rem; rotate: 180deg;

        }
        40%{top: 12rem; left: 20rem; rotate: 90deg;
            
        }
        42%{top: 20rem; left: 20rem; rotate: 90deg;
            
        }
        44%{top: 20rem; left: 20rem; rotate: 180deg;
            
        }
        46%{top: 20rem; left: 11.5rem; rotate: 180deg;
            
        }
        48%{top: 20rem; left: 11.5rem; rotate: 270deg;
            
        }
        50% {
            top: 12rem; left: 11.5rem; rotate: 270deg;
        }
        52% {
            top: 12rem; left: 11.5rem; rotate: 360deg;
        }
        54% {
            top: 12rem; left: 15.5rem; rotate: 360deg;
        }
        56% {
            top: 12rem; left: 15.5rem; rotate: 270deg;
        }
        58% {
            top: 7.5rem; left: 15.5rem; rotate: 270deg;
        }
        60% {
            top: 7.5rem; left: 15.5rem; rotate: 180deg;
        }
        62% {
            top: 7.5rem; left: -40rem; rotate: 180deg;
        }
        64% {
            top: 7.5rem; left: -40rem; rotate: 90deg;
        }
        66% {
            top: 11.5rem; left: -40rem; rotate: 90deg;
        }
        68% {
            top: 11.5rem; left: -40rem; rotate: 0deg;
        }
        

        70% {
            top: 11.5rem; left: -33rem; rotate: 0deg;
        }
        72% {
            top: 11.5rem; left: -33rem; rotate: 90deg;
        }
        74% {
            top: 19.7rem; left: -33rem; rotate: 90deg;
        }
        76% {
            top: 19.7rem; left: -33rem; rotate: 180deg;
        }
        76% {
            top: 19.7rem; left: -33rem; rotate: 180deg; opacity: 1;
        }
        80%{
            top: 19.7rem; left: -39rem; rotate: 180deg; opacity: 1;
        }
        
    
        to {
            top: 19.7rem; left: -41rem; rotate: 180deg; opacity: 0;
        }
    }
} 

.hola {
    width: 100%;
    height: 100vh;
    
   
 

}

.kilO {
  
    display: flex;
    justify-content: center;
}

.play {
    width: 100%;
    height: 40rem;
    background-color: orange;
    background-image:url(../assets/pacman.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center ;
    display: flex;
    justify-content: center;
   color: yellow;
   text-shadow: 4px 4px 4px black;
   text-align: center;
  
 
   
}

.puntaje {
    background-color: darkblue;
    height: 18rem;

  

}
.redes {
    background-color: darkcyan;
    height: 18rem;
  
   

}