* {
    box-sizing: border-box;
}



body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
 

}

.rito {
    position: relative;
    animation-name: pacman;
    animation-iteration-count: infinite;
    animation-duration: 30seg;
    width: 2rem;
    height: 2rem;
    top: 19.7rem;
    left: -41rem;
} 



 
 @media(max-width:320px){
    body{ 
      

       
    }
    .rito {
        position: relative;
        animation-name: pacman;
        animation-iteration-count: infinite;
        animation-duration: 30seg;
        width: 2rem;
        height: 2rem;
        top: 19.7rem;
        left: -41rem;
    }
}
@media(min-width:321px) and (max-width:375px){
    body {
      
      

    }
    .rito {
        position: relative;
        animation-name: pacman;
        animation-iteration-count: infinite;
        animation-duration: 30seg;
        width: 2rem;
        height: 2rem;
        top: 19.7rem;
        left: -41rem;
    }
    
}
@media(min-width:376px) and (max-width:425px){
    body {
       
        background-image: url(../assets/astolfo.jpg);
        background-size: 150%;
        background-repeat: no-repeat;
        background-color: rgb(66, 5, 5);
    }
     #rito {
        width: 1rem;
        height: 1rem;
        animation-duration:5s;
        animation-name: corriendo;
        position: relative;
        animation-delay: 8ms;
        animation-iteration-count: infinite;
        top: 28rem;
        left:0.7rem;
        rotate: -90deg;
    }
  @keyframes corriendo { 
    from{
        top: 28rem;
        left: 0.7rem;
        opacity: 0;
        rotate: -90deg;
    } 
    2%{
        top: 25.7rem;
        left: 0.7rem;
        opacity: 1;
        rotate: -90deg;
    } 
    5%{
        top: 25.7rem;
        left: 0.7rem;
        opacity: 1;
        rotate: 0deg;
    } 
    8%{
        top: 25.7rem;
        left: 2.2rem;
        opacity: 1;
        rotate: 0deg;
    } 
    10%{
        top: 25.7rem;
        left: 2.2rem;
        opacity: 1;
        rotate: -90deg;
    } 
    12%{
        top: 24.5rem;
        left: 2.2rem;
        opacity: 1;
        rotate: -90deg;
    } 
    15%{
        top: 24.5rem;
        left: 2.2rem;
        opacity: 1;
        rotate: -180deg;
    } 
    17%{
        top: 24.5rem;
        left:-5.5rem;
        opacity: 1;
        rotate: -180deg;
    } 
    19%{
        top: 24.5rem;
        left:-5.5rem;
        opacity: 1;
        rotate: -90deg;
    } 
    21%{
        top: 23rem;
        left:-5.5rem;
        opacity: 1;
        rotate: -90deg;
    } 
    25%{
        top: 23rem;
        left:-5.5rem;
        opacity: 1;
        rotate: 0deg;
    } 
    27%{
        top: 23rem;
        left: -3.5rem;
        opacity: 1;
        rotate: 0deg;
    } 
    29%{
        top: 23rem;
        left: -3.5rem;
        opacity: 1;
        rotate: -90deg;
    } 
    32%{
        top: 20rem;
        left: -3.5rem;
        opacity: 1;
        rotate: -90deg;
    } 
    40%{
        top: 20rem;
        left: -3.5rem;
        opacity: 1;
        rotate: 0deg;
    } 
    43%{
        top: 20rem;
        left: -1rem;
        opacity: 1;
        rotate: 0deg;
    } 
    45%{
        top: 20rem;
        left: -1rem;
        opacity: 1;
        rotate: 90deg;
    } 
    47%{
        top: 21.3rem;
        left: -1rem;
        opacity: 1;
        rotate: 90deg;
    } 
    50%{
        top: 21.3rem;
        left: -1rem;
        opacity: 1;
        rotate: 0deg;
    } 
    55%{
        top: 21.3rem;
        left:2rem;
        opacity: 1;
        rotate: 0deg;
    } 

    65%{
        top: 21.3rem;
        left:2rem;
        opacity: 1;
        rotate: -90deg;
    } 
    70%{
        top: 19.5rem;
        left:2rem;
        opacity: 1;
        rotate: -90deg;
    } 
    75%{
        top: 19.7rem;
        left:2rem;
        opacity: 1;
        rotate: 0deg;
    } 
    80%{
        top: 19.7rem;
        left:6rem;
        opacity: 1;
        rotate: 0deg;
    } 
    90%{
        top: 19.7rem;
        left:7.5rem;
        opacity: 0;
        rotate: 0deg;
    } 
    to{
        top: 19.7rem;
        left:7.5rem;
        opacity: 0;
        rotate: 0deg;
    } 
    
    













    
}
}
@media(min-width:426px) and (max-width:590px){
    body {
       
        background-image: url(../assets/rimuru.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
     #rito {
        width: 1.2rem;
        height: 1.2rem;
        animation-duration:10s;
        animation-name: corriendo;
        position: relative;
        animation-delay: 8ms;
        animation-iteration-count: infinite;
        top: 19.7rem;
        left: -22rem;
    }
 @keyframes corriendo { 
    from{
        top: 19.7rem;
        left: -22rem;
        opacity: 0;
    }
    5% {
        top: 19.7rem; left: -18.7rem; opacity: 1;
    }
    
    10% {
        top: 19.7rem; left: -18.7rem;
    }
    12% {
        top: 19.7rem; left: -18.7rem;
    }
    12% {
        top: 19.7rem; left: -18.7rem; rotate: 90deg;
    }
    15% {
        top: 23.5rem; left: -18.7rem; 
    }
     20% {
        top: 23.5rem; left: -18.7rem; rotate: 0deg;
    }
    25% {
        top: 23.5rem; left: -18.7rem; rotate: 0deg;
    }
    30%{
        top: 23.5rem; left: -14.7rem; rotate: 90deg;
    }
    35%{
        top: 25.5rem; left: -14.7rem; 
    }
    40%{
        top: 25.5rem; left: -14.7rem; 
    }
    42%{
        top: 25.5rem; left: -14.7rem; rotate: 0deg;
    }
    48%{
        top: 25.5rem; left: 6.5rem; rotate: 0deg;
    }
    52%{
        top: 25.5rem; left: 6.5rem; rotate: -90deg;
    }
    58%{
        top: 13.9rem; left: 6.5rem; rotate: -90deg;
    }
    62%{
        top: 13.9rem; left: 6.5rem; rotate: -180deg;
    }
    65%{
        top: 13.9rem; left: -17rem; rotate: -180deg;
    }
    69%{
        top: 13.9rem; left: -17rem; rotate: -270deg;

    } 
     72%{
        top: 19.7rem; left: -17rem; rotate: -270deg;

    }

    80%{
        top: 19.7rem; left: -17rem; rotate: -180deg;

    }
    90%{
        top: 19.7rem; left: -19rem; rotate: -180deg; opacity: 1;

    }
    to{  top: 19.7rem; left: -23rem; rotate: -180deg; opacity: 0;
        
    }
    
}
}
@media(min-width:426px) and (max-width:768px){
    body {
        background-image: url(../assets/venti.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
        
      
    
    #rito {
        width: 1.5rem;
        height: 1.5rem;
        animation-duration:15s;
        animation-name: corriendo;
        position: relative;
        animation-delay: 8ms;
        animation-iteration-count: infinite;
        top: 19.7rem;
        left: -6rem;
    }
   @keyframes corriendo { 
        from{
            top: 19.7rem;
            left: -6rem;
            opacity: 0;
        }
        2%{
            top: 19.7rem;
            left: -6rem;
            opacity: 1;
        
        }
        5%{
            top: 19.7rem;
            left: -6rem;
            opacity: 1;
            rotate: -90deg;
        
        }
        7%{
            top: 17rem;
            left: -6rem;
            opacity: 1;
            rotate: -90deg;
        
        }
        9%{
            top: 17rem;
            left: -6rem;
            opacity: 1;
            rotate: 0deg;
        
        }
        12%{
            top: 17rem;
            left: -2.5rem;
            opacity: 1;
            rotate: 0deg;
        
        }
        15%{
            top: 17rem;
            left: -2.5rem;
            opacity: 1;
            rotate: 90deg;
        
        }
        18%{
            top: 20rem;
            left: -2.5rem;
            opacity: 1;
            rotate: 90deg;
        
        }
        21%{
            top: 20rem;
            left: -2.5rem;
            opacity: 1;
            rotate: 0deg;
        
        }
        24%{
            top: 20rem;
            left: 0rem;
            opacity: 1;
            rotate: 0deg;
        
        }
        27%{
            top: 20rem;
            left: 0rem;
            opacity: 1;
            rotate: -90deg;
        
        }
        29%{
            top: 17rem;
            left: 0rem;
            opacity: 1;
            rotate: -90deg;
        
        }
        32%{
            top: 17rem;
            left: 0rem;
            opacity: 1;
            rotate: 00deg;
        
        }
        35%{
            top: 17rem;
            left:5rem;
            opacity: 1;
            rotate: 00deg;
        
        }
        37%{
            top: 17rem;
            left:5rem;
            opacity: 1;
            rotate: 90deg;
        
        }
        40%{
            top: 20rem;
            left:5rem;
            opacity: 1;
            rotate: 90deg;
        
        }
        45%{
            top: 20rem;
            left:5rem;
            opacity: 1;
            rotate: 0deg;
        
        }
        47%{
            top: 20rem;
            left:8rem;
            opacity: 1;
            rotate: 0deg;
        
        }
       70%{
            top: 20rem;
            left:10rem;
            opacity: 1;
            rotate: 0deg;
        
        }
        to{
            top: 20rem;
            left:18rem;
            opacity: 0;
            rotate: 0deg;
        
        }
        
        
        
    
    } 
}
@media(min-width:769px) and (max-width:1024px){
    body {
        background-image: url(../assets/738323.png);
        background-size: 130%;
        background-repeat: no-repeat;
    }
        
      
    
    #rito {
        width: 2rem;
        height: 2rem;
        animation-duration:7s;
        animation-name: corriendo;
        position: relative;
        animation-delay: 8ms;
        animation-iteration-count: infinite;
        top: 19.7rem;
        left: -34.5rem;
    }
  @keyframes corriendo { 
        from{
            top: 19.7rem;
            left: -34.5rem;
            opacity: 0;
        }
        2% {
            top: 19.7rem; left: -30rem; opacity: 1;
        }
        
        5% {
            top: 19.7rem; left: -22rem;
        }
        6% {
            top: 19.7rem; left: -22rem;rotate: -90deg
        }
        7% {
            top: 13rem; left: -22rem; 
        }
        20% {
            top: 13rem; left: -22rem; rotate:-180deg;
        }
        30% {
            top: 13rem; left: -25rem; rotate:-180deg;
        }
        40% {
            top: 13rem; left: -25rem; rotate:-270deg;
        }
        50% {
            top: 19.5rem; left: -25rem; rotate:-270deg;
        }
        60% {
            top: 19.5rem; left: -25rem; rotate:-180deg;
        }
        76% {
            top: 19.5rem; left: -25rem; rotate: -180deg; opacity: 1;
        }
        85% {
            top: 19.5rem; left: -27rem; rotate: -180deg; opacity: 1;
        }
        to {
            top: 19.5rem; left: -41rem; rotate: -180deg; opacity: 0;
        }
    }
}
@media(min-width:1201px) and (max-width:1440px){
    body {
       
        background-image: url(../assets/himiko2.jpg);
       background-size: 100%;
       background-repeat: no-repeat;
       
       
    }
     #rito {
        width: 2rem;
        height: 2rem;
        animation-duration:30s;
        animation-name: corriendo;
        position: relative;
        animation-delay: 8ms;
        animation-iteration-count: infinite;
        top: 19.7rem;
        left: -41rem;
    }
    @keyframes corriendo { 
        from{
            top: 19.7rem;
            left: -41rem;
            opacity: 0;
        }
        5% {
            top: 19.7rem; left: -25rem; opacity: 1;
        }
        
         10% {
            top: 19.7rem; left: -25rem;
        }
        12% {
            top: 19.7rem; left: -25rem ; rotate: -90deg; opacity: 1;
        }
        15% {
            top: 11.5rem; left: -25rem ; rotate: -90deg; opacity: 1;
        }
        17% {
            top: 11.5rem; left: -25rem ; rotate: -180deg; opacity: 1;
        }
        19% {
            top: 11.5rem; left: -29rem ; rotate: -180deg; opacity: 1;
        }
        21% {
            top: 11.5rem; left: -29rem ; rotate: -90deg; opacity: 1;
        }
        24% {
            top: 7.5rem; left: -29rem ; rotate: -90deg; opacity: 1;
        }
        24% {
            top: 7.5rem; left: -29rem ; rotate: 0deg; opacity: 1;
        }
        27% {
            top: 7.5rem; left: 20rem ; rotate: 0deg; opacity: 1;
        }
        29% {
            top: 7.5rem; left: 20rem ; rotate: 90deg; opacity: 1;
        }
        31% {
            top: 28rem; left: 20rem ; rotate: 90deg; opacity: 1;
        }
        33% {
            top: 28rem; left: 20rem ; rotate: 180deg; opacity: 1;
        }
        35% {
            top: 28rem; left: 11.5rem ; rotate: 180deg; opacity: 1;
        }
        37% {
            top: 28rem; left: 11.5rem ; rotate: 90deg; opacity: 1;
        }
        40% {
            top: 32rem; left: 11.5rem ; rotate: 90deg; 
            opacity: 1;
        }
        43% {
            top: 32rem; left: 11.5rem ; rotate: 180deg; opacity: 1;
        }
        46% {
            top: 32rem; left: 7.5rem ; rotate: 180deg; opacity: 1;
        }
        49% {
            top: 32rem; left: 7.5rem ; rotate: 270deg; opacity: 1;
        }
        49% {
            top: 28rem; left: 7.5rem ; rotate: 270deg; opacity: 1;
        }
        51% {
            top: 28rem; left: 7.5rem ; rotate: 180deg; opacity: 1;
        }
        54% {
            top: 28rem; left: -1rem ; rotate: 270deg; opacity: 1;
        }
        57% {
            top: 15.5rem; left: -1rem ; rotate: 270deg; opacity: 1;
        }
        63% {
            top: 15.5rem; left: -1rem ; rotate: 180deg; opacity: 1;
        }
        66% {
            top: 15.5rem; left: -6rem ; rotate: 180deg; opacity: 1;
        }
        66% {
            top: 15.5rem; left: -7rem ; rotate: 90deg; opacity: 1;
        }
        70% {
            top: 19rem; left: -7rem ; rotate: 90deg; opacity: 1;
        }
        80% {
            top: 19rem; left: -7rem ; rotate: 90deg; opacity: 1;
        }
        90% {
            top: 19rem; left: -7rem ; rotate: 90deg; opacity: 0.5;
        }
        to {
            top: 19rem; left: -7rem ; rotate: 90deg; opacity: 0;
        }
        
        
        
    }
}
    @media(min-width:1025px) and (max-width:1200px){
        body {
      
           
        }
         #rito {
            width: 2rem;
            height: 2rem;
            animation-duration:30s;
            animation-name: corriendo;
            position: relative;
            animation-delay: 8ms;
            animation-iteration-count: infinite;
            top: 19.7rem;
            left: -41rem;
        }
    @keyframes corriendo {
        from{
            top: 19.7rem;
            left: -41rem;
            opacity: 0;
        }
        2% {
            top: 19.7rem; left: -33rem; opacity: 1;
        }
        
        5% {
            top: 19.7rem; left: -33rem;
        }
        6% {
            top: 19.7rem; left: -33rem;rotate: 90deg
        }
        7% {
            top: 28rem; left: -33rem; 
        }
        10% {
            top: 28rem; left: -33rem; rotate: 0deg;
        }
        12%{
            top: 28rem; left: -25rem; rotate: 0deg;
        }
        13%{
            top: 28rem; left: -25rem; rotate: 90deg;
        }
        16%{
            top: 32rem; left: -25rem; rotate: 90deg;
        }
        18%{
            top: 32rem; left: -25rem; rotate: 0deg;
        }
        20%{
            top: 32rem; left: 19.5rem; rotate: 0deg;
        }
        22%{
            top: 32rem; left: 19.5rem; rotate: -90deg;
        }
        25%{
            top: 2.2rem; left: 19.5rem; rotate: -90deg;
        }
        28%{
            top: 2.2rem; left: 19.5rem; rotate: 0deg;
        }
        30%{
            top: 2.2rem; left: 26.5rem; rotate: 0deg;
        }
        32%{
            top: 2.2rem; left: 26.5rem; rotate: 90deg;

        } 
         34%{
            top: 12rem; left: 26.5rem; rotate: 90deg;

        }
        36%{
            top: 12rem; left: 26.5rem; rotate: 180deg;

        }
        38%{
            top: 12rem; left: 20rem; rotate: 180deg;

        }
        40%{top: 12rem; left: 20rem; rotate: 90deg;
            
        }
        42%{top: 20rem; left: 20rem; rotate: 90deg;
            
        }
        44%{top: 20rem; left: 20rem; rotate: 180deg;
            
        }
        46%{top: 20rem; left: 11.5rem; rotate: 180deg;
            
        }
        48%{top: 20rem; left: 11.5rem; rotate: 270deg;
            
        }
        50% {
            top: 12rem; left: 11.5rem; rotate: 270deg;
        }
        52% {
            top: 12rem; left: 11.5rem; rotate: 360deg;
        }
        54% {
            top: 12rem; left: 15.5rem; rotate: 360deg;
        }
        56% {
            top: 12rem; left: 15.5rem; rotate: 270deg;
        }
        58% {
            top: 7.5rem; left: 15.5rem; rotate: 270deg;
        }
        60% {
            top: 7.5rem; left: 15.5rem; rotate: 180deg;
        }
        62% {
            top: 7.5rem; left: -40rem; rotate: 180deg;
        }
        64% {
            top: 7.5rem; left: -40rem; rotate: 90deg;
        }
        66% {
            top: 11.5rem; left: -40rem; rotate: 90deg;
        }
        68% {
            top: 11.5rem; left: -40rem; rotate: 0deg;
        }
        

        70% {
            top: 11.5rem; left: -33rem; rotate: 0deg;
        }
        72% {
            top: 11.5rem; left: -33rem; rotate: 90deg;
        }
        74% {
            top: 19.7rem; left: -33rem; rotate: 90deg;
        }
        76% {
            top: 19.7rem; left: -33rem; rotate: 180deg;
        }
        76% {
            top: 19.7rem; left: -33rem; rotate: 180deg; opacity: 1;
        }
        80%{
            top: 19.7rem; left: -39rem; rotate: 180deg; opacity: 1;
        }
        
    
        to {
            top: 19.7rem; left: -41rem; rotate: 180deg; opacity: 0;
        }
    }
} 
 
@media(min-width:1441px){
    body {
       background-image: url(../assets/pacmanFondoUno.png);
       background-size: 100%;
       background-repeat: no-repeat;
       
       
    }
    #rito {
        width: 2rem;
        height: 2rem;
        animation-duration:15s;
        animation-name: corriendo;
        position: relative;
        animation-delay: 8ms;
        animation-iteration-count: infinite;
        top: 19.7rem;
        left: -41rem;
    }
    @keyframes corriendo {
        from{
            top: 19.7rem;
            left: -41rem;
            opacity: 0;
        }
        2% {
            top: 19.7rem; left: -33rem; opacity: 1;
        }
        
        5% {
            top: 19.7rem; left: -33rem;
        }
        6% {
            top: 19.7rem; left: -33rem;rotate: 90deg
        }
        7% {
            top: 28rem; left: -33rem; 
        }
        10% {
            top: 28rem; left: -33rem; rotate: 0deg;
        }
        12%{
            top: 28rem; left: -25rem; rotate: 0deg;
        }
        13%{
            top: 28rem; left: -25rem; rotate: 90deg;
        }
        16%{
            top: 32rem; left: -25rem; rotate: 90deg;
        }
        18%{
            top: 32rem; left: -25rem; rotate: 0deg;
        }
        20%{
            top: 32rem; left: 19.5rem; rotate: 0deg;
        }
        22%{
            top: 32rem; left: 19.5rem; rotate: -90deg;
        }
        25%{
            top: 2.2rem; left: 19.5rem; rotate: -90deg;
        }
        28%{
            top: 2.2rem; left: 19.5rem; rotate: 0deg;
        }
        30%{
            top: 2.2rem; left: 26.5rem; rotate: 0deg;
        }
        32%{
            top: 2.2rem; left: 26.5rem; rotate: 90deg;

        } 
         34%{
            top: 12rem; left: 26.5rem; rotate: 90deg;

        }
        36%{
            top: 12rem; left: 26.5rem; rotate: 180deg;

        }
        38%{
            top: 12rem; left: 20rem; rotate: 180deg;

        }
        40%{top: 12rem; left: 20rem; rotate: 90deg;
            
        }
        42%{top: 20rem; left: 20rem; rotate: 90deg;
            
        }
        44%{top: 20rem; left: 20rem; rotate: 180deg;
            
        }
        46%{top: 20rem; left: 11.5rem; rotate: 180deg;
            
        }
        48%{top: 20rem; left: 11.5rem; rotate: 270deg;
            
        }
        50% {
            top: 12rem; left: 11.5rem; rotate: 270deg;
        }
        52% {
            top: 12rem; left: 11.5rem; rotate: 360deg;
        }
        54% {
            top: 12rem; left: 15.5rem; rotate: 360deg;
        }
        56% {
            top: 12rem; left: 15.5rem; rotate: 270deg;
        }
        58% {
            top: 7.5rem; left: 15.5rem; rotate: 270deg;
        }
        60% {
            top: 7.5rem; left: 15.5rem; rotate: 180deg;
        }
        62% {
            top: 7.5rem; left: -40rem; rotate: 180deg;
        }
        64% {
            top: 7.5rem; left: -40rem; rotate: 90deg;
        }
        66% {
            top: 11.5rem; left: -40rem; rotate: 90deg;
        }
        68% {
            top: 11.5rem; left: -40rem; rotate: 0deg;
        }
        

        70% {
            top: 11.5rem; left: -33rem; rotate: 0deg;
        }
        72% {
            top: 11.5rem; left: -33rem; rotate: 90deg;
        }
        74% {
            top: 19.7rem; left: -33rem; rotate: 90deg;
        }
        76% {
            top: 19.7rem; left: -33rem; rotate: 180deg;
        }
        76% {
            top: 19.7rem; left: -33rem; rotate: 180deg; opacity: 1;
        }
        80%{
            top: 19.7rem; left: -39rem; rotate: 180deg; opacity: 1;
        }
        
    
        to {
            top: 19.7rem; left: -41rem; rotate: 180deg; opacity: 0;
        }
    }
} 

.hola {
    width: 100%;
    height: 100vh;
    
   
 

}

.kilO {
  
    display: flex;
    justify-content: center;
}

.play {
    width: 100%;
    height: 40rem;
 
    background-image:url(../assets/pacman.png);
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center ;
    display: flex;
    justify-content: center;
   color: yellow;
   text-shadow: 4px 4px 4px black;
   text-align: center;
  
 
   
}
#rito {
    opacity: 2;
}

.puntaje {
   
    height: 15rem;
    
    height: 15rem;
    color: yellow;
    text-shadow: 0.2rem 0.2rem 0.4rem black;

  

}
.redes {
  
    height: 15rem;
    color: yellow;
    text-shadow: 0.2rem 0.2rem 0.4rem black;
  
   

}
audio {
   color: black;

   
}
.title {
    width: 100%;
    margin-top: 2rem;
    
}
.flot2 {
    margin-left: 2rem;
}
